@media only screen and (max-width: 40.063em) and (orientation: portrait) {
    .show-for-small-up-and-portrait {
        display: none;
    }
}
@media only screen and (max-width: 725px) {
    .champion-name {
        font-size: .5rem;
    }
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.navigation-dropdown {
    text-align: center;
    border: 0rem;
}

div.top-table-container {
    text-align: center;
}

div.top-table-tile {
    display: inline-block;
    margin: 8px;
}

.top-table-tile td {
    text-align: left;
    white-space: nowrap;
}
.summoner-name {
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.champion-icon {
    min-width: 55px;
    min-height: 55px;
}

.champion-histogram {
    width: 100%;
    border-style: none;
}
.champion-histogram td {
    background-color: white;
    padding: 5px;
}

.histogram-cell {
    width: 85%;
}
