<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"></meta>
        <title>Best Champion Region - About</title>

        <link rel="stylesheet" href="css/normalize.css"></link>
        <link rel="stylesheet" href="css/foundation.css"></link>
        <link rel="stylesheet" href="css/main.css"></link>

        <script src="js/vendor/custom.modernizr.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="medium-12 columns"><h1 class="centered">About</h1></div>
        </div>
        <div class="row">
            <div class="medium-12 columns"><h5 class="centered">Following <span th:text="${numberOfSummoners}">42</span> summoners</h5></div>
        </div>
        
        <script src="js/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>$(document).foundation();</script>
    </body>
</html>
