<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"></meta>
        <title>Best Champion Region - Ordering Champion Region Season</title>

        <link rel="stylesheet" href="../../../../css/normalize.css"></link>
        <link rel="stylesheet" href="../../../../css/foundation.css"></link>
        <link rel="stylesheet" href="../../../../css/main.css"></link>

        <script src="../../../../js/vendor/custom.modernizr.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="medium-12 columns"><h1 class="centered"><span th:text="${active.ordering.value.name}">Best</span> <span th:text="${active.champion.value.name}">Heimerdinger</span> <span th:text="${active.region.value.name}">NA</span></h1></div>
        </div>
        <div class="row">
            <div class="medium-2 columns">
                <ul class="no-bullet">
                    <li>Order
                        <ul class="no-bullet">
                            <li th:each="ordering : ${orderings}"><a href="#" th:href="|../../../../${ordering.value.path}/${active.champion.value.path}/${active.region.value.path}/${active.season.value.path}|" th:text="${ordering.value.name}">Best</a></li>
                            <li th:remove="all"><a href="#">Worst</a></li>
                        </ul>
                    </li>
                    <li>Champion
                        <ul class="no-bullet">
                            <li th:each="champion : ${champions}"><a href="#" th:href="|../../../../${active.ordering.value.path}/${champion.value.path}/${active.region.value.path}/${active.season.value.path}|" th:text="${champion.value.name}">Annie</a></li>
                            <li th:remove="all"><a href="#">Heimerdinger</a></li>
                        </ul>
                    </li>
                    <li th:remove="all">Region
                        <ul class="no-bullet">
                            <li><a href="#">NA</a></li>
                            <li><a href="#">EU</a></li>
                        </ul>
                    </li>
                    <li th:remove="all">Season
                        <ul class="no-bullet">
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="medium-8 columns">
                <table class="centered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Summoner</th>
                            <th class="show-for-medium-up-and-portrait">Won</th>
                            <th class="show-for-medium-up-and-portrait">Lost</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="row : ${data}">
                            <td th:text="${row.rank}">1</td>
                            <td th:text="${row.name}">doubleberry</td>
                            <td class="show-for-medium-up-and-portrait" th:text="${row.won}">100</td>
                            <td class="show-for-medium-up-and-portrait" th:text="${row.lost}">50</td>
                            <td th:text="${row.rating}">+50</td>
                        </tr>
                        <tr th:remove="all">
                            <td>2</td>
                            <td>Best Riven NA</td>
                            <td class="show-for-medium-up-and-portrait">1200</td>
                            <td class="show-for-medium-up-and-portrait">1175</td>
                            <td>+25</td>
                        </tr>
                        <tr th:remove="all">
                            <td>3</td>
                            <td>doubleberry</td>
                            <td class="show-for-medium-up-and-portrait">100</td>
                            <td class="show-for-medium-up-and-portrait">50</td>
                            <td>+50</td>
                        </tr>
                        <tr th:remove="all">
                            <td>4</td>
                            <td>Best Riven NA</td>
                            <td class="show-for-medium-up-and-portrait">1200</td>
                            <td class="show-for-medium-up-and-portrait">1175</td>
                            <td>+25</td>
                        </tr>
                        <tr th:remove="all">
                            <td>5</td>
                            <td>doubleberry</td>
                            <td class="show-for-medium-up-and-portrait">100</td>
                            <td class="show-for-medium-up-and-portrait">50</td>
                            <td>+50</td>
                        </tr>
                        <tr th:remove="all">
                            <td>6</td>
                            <td>Best Riven NA</td>
                            <td class="show-for-medium-up-and-portrait">1200</td>
                            <td class="show-for-medium-up-and-portrait">1175</td>
                            <td>+25</td>
                        </tr>
                        <tr th:remove="all">
                            <td>7</td>
                            <td>doubleberry</td>
                            <td class="show-for-medium-up-and-portrait">100</td>
                            <td class="show-for-medium-up-and-portrait">50</td>
                            <td>+50</td>
                        </tr>
                        <tr th:remove="all">
                            <td>8</td>
                            <td>Best Riven NA</td>
                            <td class="show-for-medium-up-and-portrait">1200</td>
                            <td class="show-for-medium-up-and-portrait">1175</td>
                            <td>+25</td>
                        </tr>
                        <tr th:remove="all">
                            <td>9</td>
                            <td>doubleberry</td>
                            <td class="show-for-medium-up-and-portrait">100</td>
                            <td class="show-for-medium-up-and-portrait">50</td>
                            <td>+50</td>
                        </tr>
                        <tr th:remove="all">
                            <td>10</td>
                            <td>Best Riven NA</td>
                            <td class="show-for-medium-up-and-portrait">1200</td>
                            <td class="show-for-medium-up-and-portrait">1175</td>
                            <td>+25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="medium-2 columns">&nbsp;</div>
        </div>
        
        <script src="../../../../js/jquery.js"></script>
        <script src="../../../../js/foundation.min.js"></script>
        <script>$(document).foundation();</script>
    </body>
</html>
