@media only screen {
    .row .columns {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
@media only screen and (max-width: 40.063em) and (orientation: portrait) {
    .show-for-small-up-and-portrait {
        display: none;
    }
}
.centered {
    margin-left: auto;
    margin-right: auto;
}

.navigation-dropdown {
    text-align: center;
    border: 0rem;
}