<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"></meta>
        <title>Best Champion Region - Pick Rate</title>

        <link rel="stylesheet" href="../../../../css/normalize.css"></link>
        <link rel="stylesheet" href="../../../../css/foundation.css"></link>
        <link rel="stylesheet" href="../../../../css/main.css"></link>

        <script src="../../../../js/vendor/custom.modernizr.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="medium-12 columns">
                <div class="contain-to-grid sticky">
                    <nav class="top-bar" data-topbar="data-topbar">
                        <ul class="title-area">
                            <li class="name"></li>
                            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                        </ul>
                        <section class="top-bar-section">
                            <ul class="left">
                                <li><a href="../../../.."><span class="hide-for-small">Best Champion Region</span><span class="show-for-small">Home</span></a></li>
                            </ul>
                        </section>
                        <section class="top-bar-section">
                            <ul class="right">
                                <li><a href="../../../../top/champion/region/season" th:href="|../../../../top/champion/${active.region.value.path}/${active.season.value.path}|">Champion</a></li>
                                <li><a href="../../../../top/summoner/region/season" th:href="|../../../../top/summoner/${active.region.value.path}/${active.season.value.path}|">Summoner</a></li>
                                <li><a href="../../../../about">About</a></li>
                            </ul>
                        </section>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <h2>Champion Pick Rates</h2>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <table class="champion-pickrate" th:each="championPickrate : ${data}">
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <a href="#" th:href="|../../../../best/${championPickrate.champion.path}/${active.region.value.path}/${active.season.value.path}|"><img src="../../../../img/Veigar.png" class="champion-icon" width="64px" height="64px" th:src="|../../../../img/${championPickrate.champion.name()}.png|"/></a>
                            </td>
                            <td rowspan="2" class="pickrate-cell">
                                <img src="pickrate.svg" data-interchange="[pickrate2.svg, (small)], [pickrate.svg, (medium)]" th:src="|${championPickrate.champion.name()}_pickrate.svg|" th:attr="data-interchange=|[${championPickrate.champion.name()}_pickrate.svg, (small)], [${championPickrate.champion.name()}_pickrate.svg, (medium)]|"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center champion-name">
                                <a href="#" th:href="|../../../../best/${championPickrate.champion.path}/${active.region.value.path}/${active.season.value.path}|" th:text="${championPickrate.champion.label}">Veigar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" th:remove="all">
            <div class="medium-12 columns">
                <table class="champion-pickrate">
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <img src="../../../../img/TwistedFate.png" class="champion-icon" width="64px" height="64px"/>
                            </td>
                            <td rowspan="2" class="pickrate-cell">
                                <img  src="pickrate.svg" data-interchange="[pickrate2.svg, (small)], [pickrate.svg, (medium)]"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center champion-name">
                                Twisted Fate
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" th:remove="all">
            <div class="medium-12 columns">
                <table class="champion-pickrate">
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <img src="../../../../img/Heimerdinger.png" class="champion-icon" width="64px" height="64px"/>
                            </td>
                            <td rowspan="2" class="pickrate-cell">
                                <img  src="pickrate.svg" data-interchange="[pickrate2.svg, (small)], [pickrate.svg, (medium)]"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center champion-name">
                                Heimerdinger
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer class="text-center">
            <p>
                <small>Last updated <span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd\'T\'HH:mmZ')}">never</span></small>
            </p>
        </footer>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="../../../../js/foundation.min.js"></script>
        <script>$(document).foundation();</script>
        <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-46487570-1', 'bestchampionregion.com', {'siteSpeedSampleRate': 100});
ga('send', 'pageview');
        </script>
    </body>
</html>
